*.pb filter=lfs diff=lfs merge=lfs -text
training_summaries/basic/train/events.out.tfevents.1553513319.c6cf3afea9ed filter=lfs diff=lfs merge=lfs -text
output_graph.pb filter=lfs diff=lfs merge=lfs -text
